* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: darkorange;
}

/*---------- TAB STYLING ----------*/
.tab {
  overflow: hidden;
  background-color: black;
  color:white;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
  color:black;
}

.tab button.active {
  background-color: darkorange;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/*--------- FORM STYLING ----------*/

form input[type="text"]{ 
    transition: all .2s ease-in-out; 
}
form input[type="text"]:hover{ 
    transform: scale(1.1); 
    border:2px solid black;
}
form select{
    margin-top:10px;
}

.text-success{
    color:white;
}
.text-danger{
    color:white;
}


input.hover-center-2 {
    background-image: linear-gradient(0, black, black);
    background-size: 0 0;
    transition: .8s;
    background-repeat: no-repeat;
    background-position: center;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    width:40%;
    font-size:1.6em;
    color:black;
    background-color:white;
    border-style:none;
}

input.hover-center-2:hover{
    background-size: 100% 100%;
    color: #fff;
}
.buttonHolder{ 
    text-align: center; 
    margin-top:10px;
}


/*--------- TABLE STYLING ----------*/

table{
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    border-collapse: separate;
    border-spacing: 0 0.6em;
    
}
td{
    padding: 2px;
}


tr, td, th, input[type="text"]{
    border-style:none;
    padding-bottom: 10px;
    text-align:center;
    font-size:medium;
}
th{
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

textarea{
    border-style:none;
    text-align:center;
    font-size:small;
    width:170px;
    height:100px;
    padding:5px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#List input[type="text"]:hover,select:hover{
    background-color:beige;
    width:70%;
}
table input[type="submit"]{
    background-color:white;
    color:black;
    border-style:none;
}

table input[type="submit"]:hover{
    background-color:black;
    color:white;
}

.pic-container{
margin: 10px;
color: #FFF;
 width:170px;
    height:100px;
overflow:auto;
text-align:center;
}

/*https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
img{
  transition: transform .2s; 
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:150px;
  height:100px;
  border: 1px solid black;
}

img:hover {
  transform: scale(1.5); 
}

/*--------- SHARED BY BOTH TABS ----------*/

.checkboxes label {
  display: inline-block;
  padding-right: 8px;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:17px;
    height:17px;
    background:white;
    vertical-align: middle;
}
input[type='checkbox']:checked {
    background: black;
}
.checkboxes label span {
  vertical-align: middle;
}

select{
    border-style:none;
    margin-left:10px;
    margin-bottom:10px;
    padding:5px;
    -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

/*--------- H2 ANIMATION ----------*/

h2{
    text-align:center;
    color:white;
    text-transform:uppercase;
    background-color:black;
}

/*https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/*/
h2:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


